<container>
  <row class="header">
    <columns small="6" large="6" valign="middle">
      <img src="https://i.imgur.com/vo1hLkK.png" class="logo_white" />
    </columns>
    <columns small="6" large="6" valign="middle">
      <img src="https://i.imgur.com/bPcCSus.png" class="user_icon float-right" />
    </columns>
  </row>
  <row class="sub-header">
    <columns style="width: 90%">
      <row>
        <columns large="3" small="4">
          <a href="#" class="text-center"><img src="https://i.imgur.com/pfXHuBF.png"
              class="icons" />Flights</a>
        </columns>
        <columns class="show-for-large" style="width: 1%">
          <span class="menu-divider"></span>
        </columns>
        <columns large="3" small="4">
          <a href="#" class="text-center"><img src="https://i.imgur.com/57LAoMz.png" class="icons" />Hotels</a>
        </columns>
        <columns class="show-for-large" style="width: 1%">
          <span class="menu-divider"></span>
        </columns>
        <columns large="3" small="4">
          <a href="#" class="text-center"><img src="https://i.imgur.com/yAcksOg.png" class="icons" />Cars</a>
        </columns>
        <columns class="show-for-large" style="width: 1%">
          <span class="menu-divider"></span>
        </columns>
        <columns large="3" small="4" class="show-for-large">
          <a href="#" class="text-center"><img src="https://i.imgur.com/L6qJ9MO.png"
              class="icons" />Packages</a>
        </columns>
      </row>
    </columns>
  </row>
</container>